

.shopCard img {
    height: 15vw; 
    width: 15vw
}


.shopcontent {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    align-items: center;
}

.shopcontent img {
    height: 100px;
    width: 100px;
    border-radius: 50%; 
    margin-top: 15px;
}

.content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}