#icon {
    height: 30px
}

#circle {
    height: "70px";
    width: "70px";
    border-radius:"50%"; 
    border: "1px solid #EBF0FF"
}

.container {
    display: flex;
    flex-direction: row; 

}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }

.icon-box {
    margin: 3px;
}


