html, body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.App {
  padding: 20px;;
}

nav.navbar { 
  display: flex;
  padding: 0px 20px;
  background: #686de0; 
  font-family: Poppins;
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  margin: 15px 10px;
  border-radius: 3px;
}

#home-btn {
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 32px;
  font-family: Poppins;
  color: #223263
}

h2 {
  font-size: 24px;
  font-family: Poppins;
  color: #223263
}

h3 {
  font-size: 18px;
  font-family: Poppins;
  color: #9098B1;
  font-weight: bold
}

h4 {
  font-size: 18px;
  font-family: Poppins;
  color: #223263

}

h5 {
  font-size: 14px;
  font-family: Poppins;
  color: #9098B1;
  font-weight: bold; 

}

h6 {
  font-size: 12px;
  font-family: Poppins;
  color: #223263

}

p {
  font-size: 12px;
  color: #9098B1; 
  font-weight: regular;
  margin: 0px

}

strike {
  font-size: 12px;
  font-family: Poppins; 
  color: #9098B1;
  margin: 0px
}

.contentLogin {
  margin: 20px 0px 20px 0px; 

}

.LinkHelp {
  margin: 20px 0px 0px 20px
}

.LinkHelp Link{
  font-weight: bold
}


input[type=text] {
  border: 2.5px solid #ebf0ff;
	width: 90vw;
	height: 5vh;
	color: #9098b1;
	font-family: Poppins;
	font-size: 12px;
	font-weight: regular;
	border-radius: 5px;
	margin: 10px 0px 10px 0px;
}

input[type=password] {
  border: 2.5px solid #ebf0ff;
	width: 90vw;
	height: 5vh;
	color: #9098b1;
	font-family: Poppins;
	font-size: 12px;
	font-weight: regular;
	border-radius: 5px;
	margin: 10px 0px 10px 0px;
}

input[type=number] {
  border: 2.5px solid #ebf0ff;
	width: 90vw;
	height: 5vh;
	color: #9098b1;
	font-family: Poppins;
	font-size: 12px;
	font-weight: regular;
	border-radius: 5px;
	margin: 10px 0px 10px 0px;
}

input.searchbar{
  width: 75vw;
	margin: 10px 0px 10px 10px;
}

input[type=textarea] {
  border: 2.5px solid #EBF0FF;
  width: 90vw;
  height: 10vh;
	color: #9098B1;
	font-weight: regular;
	font-size: 12px;
	font-family: Poppins;
	margin: 10px 0px 10px 0px; 
}

button {
  background-color: #D2D2CF;
  width: 90vw;
  height: 6vh;
  border: 1px solid #D2D2CF; 
  font-size: 14px; 
  color: white; 
  font-family: Poppins; 
  margin-top: 10px
}

.file::-webkit-file-upload-button {
  visibility: hidden;
}

.file::before {
  content: 'Upload an image';
  display: inline-block;
  background: linear-gradient(top, #ebf0ff, #ebf0ff);
  background-color: #ebf0ff ;
  border: 1px solid #ebf0ff;
  border-radius: 5px;
  font-family: Poppins;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-size: 12px;
  margin-left: 0px
}

.AccountInfo {
  margin-top: 20px
}

.AccountInfo p{
  margin-left: 20px
}

.AccountInfo button {
  margin-left: 0px;
  margin-top: 40px

}

.contentLogin {
  margin-left: 20px
}

form {
  margin-left: 20px
}

.logo {
  height: 100px;
  margin: 20px 0px 20px 20px;
  
}

.uploadform h3 {
  margin: 20px 0px 0px 20px; 
}

#goback {
  font-size: 15px;
  font-weight: bold; 
  margin: 20px
}

input[type=submit] {
  background-color: #D2D2CF;
  width: 90vw;
  height: 6vh;
  border: 1px solid #D2D2CF; 
  font-size: 14px; 
  color: white; 
  font-family: Poppins; 
  margin-top: 10px
}

label {
  font-size: 12px; 
  color: #9098B1;
  margin: 0px 0px 0px 3px
}

.Product{
  flex: 1
}

.containerShopInfo {
  display: flex; 
  flex-direction: column;
  margin: 20px
}

.containerShopInfo p {
  font-size: 16px
}

.shopLogo {
  width: 10vw
}

.pdp {
  display:flex; 
  flex-direction: column;
  margin-left: 20px
}

.product-info p, strike {
  font-size: 16px
}

.searchResult {
  display: flex; 
  flex-direction: row;
  margin-left: 20px
}

.content-productCard strike {
  font-size: 12px
}

.successfulUpload {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px
}

.wishlistbutton {
  background-color: #EBF0FF;
  width: 90vw;
  height: 6vh;
  border: 1px solid #EBF0FF; 
  font-size: 14px; 
  color: white; 
  font-family: Poppins; 
  margin-top: 10px
}