html, body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;;
}

nav.navbar { 
  display: flex;
  padding: 0px 20px;
  background: #686de0; 
  font-family: Poppins;
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  margin: 15px 10px;
  border-radius: 3px;
}

#home-btn {
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 32px;
  font-family: Poppins;
  color: #223263
}

h2 {
  font-size: 24px;
  font-family: Poppins;
  color: #223263
}

h3 {
  font-size: 20px;
  font-family: Poppins;
  color: #223263
}

h4 {
  font-size: 18px;
  font-family: Poppins;
  color: #223263

}

h5 {
  font-size: 14px;
  font-family: Poppins;
  color: #223263

}

h6 {
  font-size: 12px;
  font-family: Poppins;
  color: #223263

}

p {
  font-size: 12px;
  font-family: Poppins; 
  color: #223263

}